<div class="container">
    <div *ngIf='!bike'>
        <h2>Bike details not found !</h2>
        <button class="btn btn-primary" [routerLink]="['/home']">Go back</button>
    </div>

    <div *ngIf='bike'>
        <h2>{{ bike.name }} bike's {{ bike.model }} details</h2>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ bike.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ bike.model}}</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link" [routerLink]="['/home']">Home</a>
              <a href="#" class="card-link" [routerLink]="['/admin']">Admin</a>
            </div>
          </div>
    </div>
    
</div>