<div class="container">
  <nav class="navbar navbar-light bg-light">
    <h1>Bikes Store</h1>
    <div>
      <button class="btn btn-primary float-right" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
      <button class="btn btn-primary float-right" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
      <a class="navbar-brand float-right" [routerLink]="['/admin']" *ngIf="auth.loggedIn">Admin</a>
      <a class="navbar-brand float-right" [routerLink]="['/home']">Home</a>
    </div>
  </nav>
  <div class="my-container">
    <router-outlet></router-outlet>
  </div>
</div>