
<div *ngIf='validationMsg != ""'>
    {{ validationMsg }}
</div>

<form [formGroup]='bikesForm' (ngSubmit)='onSubmit(bikesForm.value)'>
    <div class="form-group">
      <label for="ownerName">Owner Name</label>
      <input type="text" class="form-control" id="ownerName" formControlName='name'>
    </div>

    <div class="form-group">
      <label for="ownerEmail">Owner Email</label>
      <input type="text" class="form-control" id="ownerEmail" aria-describedby="emailHelp" formControlName='email'>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="ownerPhone">Owner Phone</label>
        <input type="phone" class="form-control" id="ownerPhone" formControlName='phone'>
    </div>

    <div class="form-group">
        <label for="bikeModel">Model</label>
        <select class="form-control" id="bikeModel" formControlName='model'>
            <option>Choose your bike model</option>
            <option *ngFor='let bikeModel of bikeModels'>
                {{ bikeModel }}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="purchasePrice">Purchase Price</label>
        <input type="text" class="form-control" id="purchasePrice" formControlName='purchasePrice'>
    </div>

    <div class="form-group">
        <label for="purchaseDate">Purchase Date</label>
        <input type="date" class="form-control datepicker" id="purchaseDate" formControlName='purchaseDate'>
    </div>

    <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" class="form-control" id="contact" formControlName='contact'>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>